﻿/*
body {background:#d8d8d8 url(../../Resources/ls_header.jpg) center top no-repeat;font-size:.55em;font-family:Verdana, Helvetica, Sans-Serif;margin:20px 0;padding:0;color:#696969;}
----------------------------------------------------------*/
body {background:#d8d8d8;font-size:.55em;font-family:Verdana, Helvetica, Sans-Serif;margin:20px 0;padding:0;color:#696969;}
a:link {color:#034af3;text-decoration:none;}
a:visited {color:#505abc;text-decoration:none;}
a:hover {color:#1d60ff;text-decoration:underline;}
a:active {color:#000000;text-decoration:underline;}
p {margin-bottom:20px;}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {font-size:1.5em;color:#000;font-family:Arial, Helvetica, sans-serif;}
h1 {font-size:2em;padding-bottom:0;margin-bottom:0;}
h2 {padding:0 0 10px 0;}
h3 {font-size:1.2em;}
h4 {font-size:1.1em;}
h5, h6 {font-size:1em;}
/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {margin-top:0;}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.page {width:950px;margin-left:auto;margin-right:auto;}
#header {position:relative;margin:0;color:#000;padding:25px 0 0 0;width:950px;}
	#header h1 {padding:0;margin:0;color:#000;border:none;font-family:Arial, Helvetica, sans-serif;font-size:1.7em;}
	#title {display:block;width:270px;float:left;margin:-8px 0 0 15px;}
	#logindisplay {font-size:1.1em;display:block;text-align:right;color:#000;width:300px;position:absolute;top:-16px;right:15px;font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
#menucontainer {float:right;}
#main {padding: 15px 10px 15px 10px;background:#fff url(../../Resources/bg-main-corner-sprite.png) no-repeat;margin-bottom:15px;_height:1px;clear:both;position:relative;width:930px;}
#footer {color:#999;padding: 15px 0;text-align:center;position:absolute;bottom:-40px;left:0;font-size:.9em;background:#FFF url(../../Resources/bg-main-corner-sprite.png) no-repeat -950px bottom;width:950px;}
/* TAB MENU   
----------------------------------------------------------*/
ul#menu {margin-bottom:20px;padding:0;position:relative;margin: 0 7px 0 0 ;text-align:right;}
ul#menu li {filter: alpha(opacity=40);opacity:.4;display:block;list-style:none;background:#ffffff url(../../Resources/bg-nav-corner-sprite.png) no-repeat 0 -150px;float:left;margin:0 2px 0 0;}
ul#menu li a {color:#000000;padding:8px 20px;font-weight:bold;text-decoration:none;background: transparent url(../../Resources/bg-nav-corner-sprite.png) no-repeat right -150px;display:block;}
ul#menu li a:hover {text-decoration:non;color:#000000;}
ul#menu li:hover {filter: alpha(opacity=75);opacity:.75;}
ul#menu li.selected {filter: alpha(opacity=100);opacity:1; background:#fff url(../../Resources/bg-nav-corner-sprite.png) no-repeat 0 -150px;}
ul#menu li.selected a {color:#000;}
/*
ul#menu li a:hover {text-decoration:none;color:#51B5E0;}
*/

/* MISC 
----------------------------------------------------------*/
.clear {clear:both;}
.error {color:Red;}
#logindisplay a:link, #logindisplay a:visited {color:#000000;text-decoration:none;}
#logindisplay a:hover {color:#ffffff;text-decoration:underline;}
.field-validation-error {color:#ff0000;}
.input-validation-error {border:1px solid #ff0000;background-color:#ffeeee;}
.validation-summary-errors {font-weight:bold;color:#ff0000;}
/*
#logindisplay a:link, #logindisplay a:visited {color:#034af3;text-decoration:none;}
#logindisplay a:hover {color:#034af3;text-decoration:underline;}
*/
