﻿body {
    font: normal 10px tahoma, arial, verdana;
}

.RC0 .x-panel-header
    {
        height: 27px;
       /* background-image: url("/Resources/Products_Logo_READY_C0MPLY_96x24.png")!important; */
        background-repeat: no-repeat;
        background-position: 5px 5px;
        background-color: #E5E5E5 !important;
        border-top : #ececec 1px solid;
        border-bottom : #d0d0d0 1px solid;
        color : #333;
        font-size: small;
    }
    
.R35 .x-panel-header
    {
        height: 27px;
       /* background-image: url("/Resources/Products_Logo_READY_NUMB3R5_107x24.png")!important; */
        background-repeat: no-repeat;
        background-position: 5px 5px;
        background-color: #E5E5E5 !important;
        border-top : #ececec 1px solid;
        border-bottom : #d0d0d0 1px solid;
        color : #333;
    }

.RS3 .x-panel-header 
    {
        height: 27px;
       /* background-image: url("/Resources/Products_Logo_READY_SCHEDUL3_119x24.png"); BORDER-BOTTOM: #d0d0d0 1px solid; */
        background-repeat: no-repeat;
        background-position: 5px 5px;
        background-color: #E5E5E5 !important;
        border-top : #ececec 1px solid;
        border-bottom : #d0d0d0 1px solid;
        color : #333;
    }
.RS3 .x-treepanel-header 
{
    height:37px;    
}
.treepanel-1025_header
{
    height: 100%;
}
.treepanel-1025-body
{
    height:100%; 
  
}

.x-grid-cell-inner x-grid-cell-inner-treecolumn
{
    padding-top: 6px;    
}

